<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ShaumApps"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".CompassActivityNew"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ui.compass.CompassActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity> <!-- <activity -->
        <!-- android:name=".ui.doa.DoaActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".ui.hadis.HadisActivity"
            android:exported="false" />
        <activity
            android:name=".ui.doa.BookmarkDoaActivity"
            android:exported="false"
            android:parentActivityName=".ui.doa.DoaActivity" />
        <activity
            android:name=".ui.doa.DetailDoaActivity"
            android:exported="false"
            android:parentActivityName=".ui.doa.DoaActivity" />
        <activity
            android:name=".ui.kalender.KalenderActivity"
            android:exported="false" />

        <activity
            android:name=".ui.jadwal_shalat.JadwalShalatActivity"
            android:exported="false" />
        <activity
            android:name=".ui.doa.DoaActivity"
            android:exported="false"
            android:parentActivityName=".ui.HomePageActivity" />

        <activity
            android:name=".ui.tasbih.TasbihActivity"
            android:exported="false"
            android:parentActivityName=".ui.HomePageActivity" />
        <activity
            android:name=".ui.kutipan.KutipanActivity"
            android:exported="false"
            android:parentActivityName=".ui.HomePageActivity" />
        <activity
            android:name=".ui.HomePageActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".ui.jadwal_shalat.JadwalShalatActivity"-->
<!--            android:exported="false">-->
<!--            <meta-data-->
<!--                android:name="android.app.lib_name"-->
<!--                android:value="" />-->
<!--        </activity>-->
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>

        <!--        <meta-data-->
        <!--            android:name="com.google.android.geo.API_KEY"-->
        <!--            android:value="AIzaSyBi2ycYbB1lkUQ23RtB034-IJwi2gaJC08" />-->
    </application>

</manifest>